<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini project</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="main">
        <a class="logout" href="/logout">Logout</a>
      <div id="profileContainer">
        <h3 class="create">Hello, <%= user.name %></h3>
        <h5 class="post">Your can cretae a post</h5>
        <form action="/post" method="post">
          <textarea
            id="message"
            placeholder="What's on your mond?"
            rows="3"
            cols="45"
            name="content"
          ></textarea>
          <input type="submit" value="Create new post" />
        </form>
      </div>

      <div class="postContainer">
        <h3>Your posts</h3>

        <div class="postBox">

            <% user.post.forEach((post) =>{ %>

                <div class="box" style="display: flex; gap: 4px; flex-direction: column;">
                <h4 style="color: blue;">@<%= user.username %></h4>
                <p style="color: rgb(61, 61, 48);"><%= post.content %></p>
                <div>
                  <span><%= post.likes.length %> like</span>
                </div>
                <div class="likeEdit" style="display: flex; gap: 25px; margin-bottom: 5px;">
                    <div class="like"><a href="/like/<%= post._id %>">
                      <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Unlike" %>
                    </a></div>
                    <div class="edit"><a href="/edit/<%= post._id %>">edit</a></div>
                </div>
              </div>
    
            <% }); %>
        </div>
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
